@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}

html,
#root {
  overflow-x: hidden !important;
}

.slider-container {
  width: 100%; /* Full width of the slider */
  overflow: hidden; /* Hide overflowing images */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-track {
  display: flex;
  animation: scrollLeft 8s linear infinite; /* Scroll from right to left */
}
.slider-track2 {
  display: flex;
  gap: 10;
  animation: scrollLeft 80s linear infinite; /* Scroll from right to left */
  width: 100%;
}

.slider-image {
  width: 150px; /* Adjust the width as necessary */
  margin-right: 20px; /* Space between images */
  object-fit: contain; /* Ensure images fit */
}

/* Keyframes for moving images from right to left */
@keyframes scrollLeft {
  0% {
    transform: translateX(100%); /* Start from fully off-screen on the right */
  }
  100% {
    transform: translateX(-100%); /* Move fully off-screen to the left */
  }
}

.carousel-item-bg-1 {
  background-image: url("./assets/WhatsApp Image 2024-10-13 at 00.30.58.jpeg");
}

.carousel-item-bg-2 {
  background-image: url("./assets/WhatsApp Image 2024-10-13 at 00.37.18.jpeg");
}

.carousel-item-bg-3 {
  background-image: url("./assets/WhatsApp Image 2024-10-13 at 00.39.07.jpeg");
}
.carousel-item-bg-4 {
  background-image: url("./assets/WhatsApp Image 2024-10-13 at 00.42.49.jpeg");
}

/* CarouselStyles */
.carousel-item-1 {
  background-image: url("./assets/WhatsApp Image 2024-10-29 at 12.49.03.jpeg");
}

.carousel-item-2 {
  background-image: url("./assets/WhatsApp Image 2024-10-29 at 12.49.02.jpeg");
}

.carousel-item-3 {
  background-image: url("./assets/WhatsApp Image 2024-10-29 at 12.49.01.jpeg");
}

.carousel-item-4 {
  background-image: url("./assets/xc.jpeg");
}
